.app-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.circle {
    position: absolute;
    animation: rotate 12s linear infinite;
}

.circle.top-left {
    top: -260px;
    left: -260px;
    width: 620px;
    height: 620px;
    opacity: 0;
    animation: moveTopLeft 1s ease-out forwards, rotate 12s linear infinite 2s;
}

.circle.bottom-right {
    bottom: -380px;
    right: -380px;
    width: 880px;
    height: 880px;
    opacity: 0;
    animation: moveBottomRight 1s ease-out forwards 1s, rotate 12s linear infinite 3s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes moveTopLeft {
    0% {
        top: -640px;
        left: -640px;
        opacity: 0;
    }

    100% {
        top: -240px;
        left: -240px;
        opacity: 1;
    }
}

@keyframes moveBottomRight {
    0% {
        bottom: -940px;
        right: -940px;
        opacity: 0;
    }

    100% {
        bottom: -380px;
        right: -380px;
        opacity: 1;
    }
}

@keyframes moveTopLeftNew {
    0% {
        top: -300px;
        left: -300px;
        opacity: 0;
    }

    100% {
        top: -100px;
        left: -100px;
        opacity: 1;
    }
}

@keyframes moveBottomRightNew {
    0% {
        bottom: -440px;
        right: -440px;
        opacity: 0;
    }

    100% {
        bottom: -120px;
        right: -120px;
        opacity: 1;
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.psit-logo {
    max-width: 100px;
    height: auto;
}

.hero-section {
    text-align: center;
    z-index: 1;
    opacity: 0;
    animation: moveHeroImage 1s ease-out forwards 2s;
}

.hero-image {
    max-width: 360px;
    height: auto;
    margin-bottom: 30px;
}

.glitch-text {
    text-align: center;
    opacity: 0;
    animation: revealText 4s ease-in-out forwards 3s;
}

.container {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    color: #dfdfdf;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) {
    --glitch-translate: 12px;
}

.stack span:nth-child(even) {
    --glitch-translate: -12px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
    }

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 4px -6px 0 red, -4 px 6px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    5% {
        text-shadow: 4px -6px 0 red, -4px 6px 0 blue;
    }

    10%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

@keyframes revealText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveHeroImage {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .circle {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 768px) {

    .circle.top-left {
        top: -100px;
        left: -100px;
        width: 280px;
        height: 280px;
        animation: moveTopLeftNew 1s ease-out forwards, rotate 12s linear infinite 2s;
    }

    .circle.bottom-right {
        bottom: -120px;
        right: -120px;
        width: 380px;
        height: 380px;
        animation: moveBottomRightNew 1s ease-out forwards 1s, rotate 12s linear infinite 3s;
    }

    .hero-image {
        max-width: 360px;
    }

    .psit-logo {
        max-width: 90px;
    }

    .stack span {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .circle.top-left {
        top: -100px;
        left: -100px;
        width: 280px;
        height: 280px;
        animation: moveTopLeftNew 1s ease-out forwards, rotate 12s linear infinite 2s;
    }

    .circle.bottom-right {
        bottom: -120px;
        right: -120px;
        width: 400px;
        height: 400px;
        animation: moveBottomRightNew 1s ease-out forwards 1s, rotate 12s linear infinite 3s;
    }

    .hero-image {
        max-width: 260px;
    }

    .psit-logo {
        max-width: 70px;
    }

    .container {
        font-size: 1rem;
    }
}