.app-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.circle {
    position: absolute;
    animation: rotate 12s linear infinite;
}

.circle.top-left {
    top: -260px;
    left: -260px;
    width: 560px;
    height: 560px;
    opacity: 0;
    animation: moveTopLeft 1s ease-out forwards, rotate 12s linear infinite 2s;
}

.circle.bottom-right {
    bottom: -380px;
    right: -380px;
    width: 840px;
    height: 840px;
    opacity: 0;
    animation: moveBottomRight 1s ease-out forwards 1s, rotate 12s linear infinite 3s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes moveTopLeft {
    0% {
        top: -640px;
        left: -640px;
        opacity: 0;
    }

    100% {
        top: -240px;
        left: -240px;
        opacity: 1;
    }
}

@keyframes moveBottomRight {
    0% {
        bottom: -940px;
        right: -940px;
        opacity: 0;
    }

    100% {
        bottom: -380px;
        right: -380px;
        opacity: 1;
    }
}

@keyframes moveTopLeftNew {
    0% {
        top: -300px;
        left: -300px;
        opacity: 0;
    }

    100% {
        top: -100px;
        left: -100px;
        opacity: 1;
    }
}

@keyframes moveBottomRightNew {
    0% {
        bottom: -440px;
        right: -440px;
        opacity: 0;
    }

    100% {
        bottom: -120px;
        right: -120px;
        opacity: 1;
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.psit-logo {
    max-width: 100px;
    height: auto;
}

.hero-section {
    text-align: center;
    z-index: 1;
    opacity: 0;
    animation: popUpReveal 1s ease-out forwards 2s;
}

.hero-image {
    max-width: 360px;
    height: auto;
    margin-bottom: 30px;
}

.glitch-text {
    text-align: center;
    opacity: 0;
    animation: revealText 4s ease-in-out forwards 3s;
}

.container {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    color: #dfdfdf;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) {
    --glitch-translate: 12px;
}

.stack span:nth-child(even) {
    --glitch-translate: -12px;
}

.open-modal-btn {
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(209, 154, 8, 0.95) 0%, rgba(254, 219, 126, 0.95) 46.26%, rgba(209, 154, 8, 0.66) 100%);
    color: rgb(0, 0, 0);
    padding: 14px 30px;
    border: none;
    font-size: 17px;
    font-weight: 550;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 50px;
    transition: transform 0.2s ease;
    animation: revealText 4s ease-in-out forwards 3s;
}

.open-modal-btn:hover {
    transform: scale(1.1);
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards, modalReveal 0.6s ease-out forwards;
}

.modal-content {
    background: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 30px;
    position: relative;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(254, 220, 126, 0.537);
    transform: scale(0.7);
    animation: modalContentReveal 0.6s ease-out forwards;
}

.close-btn {
    z-index: 999;
    position: absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    border: none;
    font-size: 42px;
    color: #ffffff;
    cursor: pointer;
    padding: 0;
}

.close-btn:hover {
    color: red;
}

.Btn {
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right,
            #77530a,
            #ffd277,
            #77530a,
            #77530a,
            #ffd277,
            #77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: absolute;
    margin-top: 20px;
    transform: translateX(-50%) scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    animation: scaleReveal 1s ease-out forwards 4s;
}

.Btn::before {
    position: absolute;
    content: "EXPLORE MORE";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 50px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
}

.Btn:hover {
    background-position: right;
    transition-duration: 1s;
}

.Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.Btn:active {
    transform: scale(0.95);
}

@keyframes scaleReveal {
    0% {
        transform: translateX(-50%) scale(0.5);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

@media (max-width: 768px) {
    .Btn {
        width: 200px;
        height: 55px;
        margin-bottom: 240px;
    }

    .Btn::before {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .Btn {
        width: 140px;
        height: 50px;
    }

    .Btn::before {
        font-size: 12px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes modalReveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modalContentReveal {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
    }

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 4px -6px 0 red, -4 px 6px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    5% {
        text-shadow: 4px -6px 0 red, -4px 6px 0 blue;
    }

    10%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

@keyframes revealText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveHeroImage {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    25% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.25;
    }

    75% {
        transform: translateY(0);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes popUpReveal {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .circle {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 768px) {

    .circle.top-left {
        top: -100px;
        left: -100px;
        width: 240px;
        height: 240px;
        animation: moveTopLeftNew 1s ease-out forwards, rotate 12s linear infinite 2s;
    }

    .circle.bottom-right {
        bottom: -100px;
        right: -100px;
        width: 320px;
        height: 320px;
        animation: moveBottomRightNew 1s ease-out forwards 1s, rotate 12s linear infinite 3s;
    }

    .hero-image {
        max-width: 320px;
    }

    .psit-logo {
        max-width: 80px;
    }

    .stack span {
        font-size: 2rem;
    }

    .open-modal-btn {
        font-size: 14px;
    }

    .modal-content {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .close-btn {
        padding-top: 30px;
    }
}

@media (max-width: 480px) {
    .circle.top-left {
        top: -100px;
        left: -100px;
        width: 240px;
        height: 240px;
        animation: moveTopLeftNew 1s ease-out forwards, rotate 12s linear infinite 2s;
    }

    .circle.bottom-right {
        bottom: -100px;
        right: -100px;
        width: 320px;
        height: 320px;
        animation: moveBottomRightNew 1s ease-out forwards 1s, rotate 12s linear infinite 3s;
    }

    .hero-image {
        max-width: 240px;
    }

    .psit-logo {
        max-width: 60px;
    }

    .container {
        font-size: 1rem;
    }

    .open-modal-btn {
        font-size: 14px;
    }

    .modal-content {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .close-btn {
        padding-top: 30px;
    }
}