.app {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    overflow: hidden;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
    opacity: 0;
    animation: revealText 1s ease-in-out forwards 2s;
}

.rotating-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    animation: rotate 12s linear infinite;
}

.rotating-circle img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.inner-logo {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 60px;
    height: 60px;
}

.inner-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.top-right-image {
    position: absolute;
    top: 40px;
    right: 30px;
    height: 80px;
    opacity: 0;
    animation: revealText 1s ease-in-out forwards 2s;
}

.top-right-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-image {
    display: none;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.hero-image img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 12s infinite;
}

.slide1 {
    background-image: url("/images/slide-1.jpg");
    animation-delay: 0s;
}

.slide2 {
    background-image: url("/images/slide-2.jpg");
    animation-delay: 4s;
}

.slide3 {
    background-image: url("/images/slide-3.jpg");
    animation-delay: 8s;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    33%,
    66% {
        opacity: 1;
    }
}

.glitch-text {
    text-align: center;
    opacity: 0;
    animation: revealText 3s ease-in-out forwards 2s;
}

.container {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    color: #dfdfdf;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) {
    --glitch-translate: 12px;
}

.stack span:nth-child(even) {
    --glitch-translate: -12px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
    }

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 4px -6px 0 red, -4px 6px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    5% {
        text-shadow: 4px -6px 0 red, -4px 6px 0 blue;
    }

    10%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

@keyframes revealLogo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes revealText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    33%,
    66% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

@media (max-width: 768px) {
    .hero-image {
        display: flex;
        align-self: center;
    }

    .hero-image img {
        padding-bottom: 30px;
        width: 220px;
        height: auto;
    }

    .top-right-image {
        display: none;
    }
}